
.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
    width: 25vw;
}

.col-sm-3 {
    text-align: center;
    position: relative;
    float: left;
    padding: 2%;
    margin: auto;
}

.gallery {
    text-align: center;
    margin-left: 8%;
}


@media (max-width: 699px) {
    .gallery {
        width: 85%;
        margin: auto;
        align-content: center;
    }

    .col-sm-3 {
        width: 100%;
    }
}

@media (min-width: 700px) and (max-width: 999px) {
    .gallery {
        width: 90%;
        margin: auto;
    }

    .col-sm-3 {
        width: 28%;
    }
}

@media (max-width: 1000px) and (max-width:1299px) {	
    .gallery {
        width: 90%;
        margin: auto;
    }
    
    .col-sm-3 {
        width: 28%;
    }
}

@media (min-width:1400px) {	
    .gallery {
        width: 1300px;
        margin: auto;
    }
    
    .col-sm-3 {
        width: 20%;
    }
}