:root {
  --main-complementary-color: #018bfa;
  --main-color: #fe7405;
  --secondary-color: #ffc686;
  --secondary-complementary-color: #003979;

  --max-width: 1350px;
}

@font-face {
  font-family: "PottaOne";
  /*src: url("/thepanoply-preview/fonts/pottaone-regular.woff2");*/
  /* line above used for preview deployment, line below used for prod deployment  */
  src: url("/fonts/pottaone-regular.woff2");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 300%;
  width: 100%;
  font-family: sans-serif, Arial, Helvetica, Montserrat, "Helvetica Neue";
  margin-left: auto;
  padding: 0;
  position: relative;
  z-index: 0;
  scroll-behavior: smooth;
}

div.section {
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 0;

  z-index: 1;
  text-align: center;
}

.section-header {
  position: relative;
  width: 100%;
  height: 1vh;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  z-index: 2;
}

.header-text {
  height: auto;
  padding: 0px 20px;
  padding-left: calc(20vw - 70px);

  margin-bottom: 40px;
  color: white;
  background: var(--main-color);
}

div.section:last-child {
  min-height: 100%;
  padding: 3em calc(20vw - 70px) 6em;
}

iframe {
  border: 0px;
}

footer {
  margin: 0;
  font-size: 10px;
  text-align: center;
}

section {
  text-align: center;
  position: relative;
  background-color: white;
  width: 100%;
  min-height: 0;
  padding-bottom: 10px;
  z-index: 1;
}

/* DIVIDERS-> */
/* https://codepen.io/Everybodyknows/pen/abbyLOZ */

@media (max-width: 900px) {
  div.parallax-image-socnet {
    background-image: url("../images/dividers/socnetdivider.small.webp");
  }

  div.parallax-image-contact {
    background-image: url("../images/dividers/contactdivider.small.webp");
  }

  .header-text {
    margin-left: 10vw;
    font-size: 2rem;
  }
}

@media (min-width: 901px) {
  div.parallax-image-socnet {
    background-image: url("../images/dividers/socnetdivider.webp");
  }

  div.parallax-image-contact {
    background-image: url("../images/dividers/contactdivider.webp");
  }

  .header-text {
    margin-left: 20vw;
    font-size: 3rem;
  }
}

div.parallax-image-socnet {
  margin-top: -5vh;
}

div.parallax-image-socnet.lazy {
  background-image: none;
  background-color: var(--main-complementary-color);
}

div.parallax-image-contact {
  margin-top: -5vh;
  background-position: center bottom;
}

div.parallax-image-contact.lazy {
  background-image: none;
  background-color: var(--main-complementary-color);
}

.header-text {
  margin-left: 20vw;
  font-size: 3rem;
}


.fixed {
  top: 15vh;
  width: 100%;
  height: 30vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
  background-attachment: fixed;
}


.sticky {
  top: 15vh;
  width: 100%;
  height: 100vh;

  position: -webkit-sticky; /* Safari */
  position: sticky;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  z-index: -1;
}

/* ->DIVIDERS */

br.clearLeft {
  clear: left;
}
